<% locationData.forEach(value => { %>
<form action="/locations" method="POST">
  <input type=hidden name="locations" value="<%=value.city%>" />
  <h2><%= value %></h2>
  <button class="submitButton" type="submit">Add to
    Favorites</button>
</form>
<% }) %>