@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;500&display=swap');

.body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.main {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} 

.bodyBackgroundCity{
  background: url(img/city4.jpeg);
}

.cityTitle {
  font-size: 3.5vw;
  letter-spacing: 5px;
  margin: 20px auto;
  width: 80%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.mainTitle{
  font-size: 5vw;
  letter-spacing: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 42vh auto;
  width: 55vw;
  color: rgb(255, 255, 255);
  background-color: rgba(166, 166, 166, 0.344);
  box-shadow: 0px 0px 30px 34px rgba(166, 166, 166, 0.344);
}

.fontShadow{
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
}

.opacity6{
  opacity: .6;
}

.submitButton{
  background-color: #f9f9f9;
  border: 1px solid rgba(128, 128, 128, 0.483);
  color: rgb(84, 84, 84);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.curveBorder{
  border-radius: 3px;
  padding: 2px;
}


#mainPageSearch{
  display: fixed;
  overflow: hidden;
}

#map {
  grid-column: span 2;
  margin-bottom: 15px;
  width: 450px;
  height: 300px;
  border: 2px solid rgb(205, 205, 205);
}

.div {
  width: 42vw;
  height: 45vw;
  margin: auto;
  border: .1px solid rgb(227, 227, 227);
}

.description {
  overflow: scroll;
  font-size: 2vw;
  height: 40vw;
  width: 36vw;
  margin: auto;
}

.p::-webkit-scrollbar {
  display: none;
}

.section::-webkit-scrollbar {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 2vw;
}

.subjectNav {
  padding: 5px;
  font-size: 1.5vw;
  margin-bottom: .5vh;
}

a {
  text-decoration: none;
  color: rgb(164, 164, 164);
}

img {
  width: 30px;
}

.infoBox {
  border: .1px solid rgb(227, 227, 227);
  border-bottom: none;
  border-top: none;
  width: 40vw;
  height: 35vh;
}

@media screen and (min-width: 736px) {
  .body {
    overflow: hidden;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cityTitle {
    font-size: 2.5vw;
  }

  #map {
    grid-column: none;
    grid-column-start: 2;
    grid-row: span 2;
    margin-bottom: none;
    width: 40vw;
    height: 72vh;
    border: 2px solid rgb(205, 205, 205);
    order: 2;
  }

  .div:nth-child(2) {
    order: 3;
  }

  .infoBox {
    border: .1px solid rgb(227, 227, 227);
    width: 40vw;
    height: 35vh;
  }

  .description {
    overflow: scroll;
    font-size: 1vw;
    height: 30vh;
    width: 36vw;
    margin: auto;
  }

  .p::-webkit-scrollbar {
    display: none;
  }

  .nav {
    font-size: 1.5vw;
  }

  .subjectNav {
    padding: 5px;
    font-size: 1.2vw;
    margin-bottom: .5vh;
  }

  .cityTitle {
    font-size: 3.5vw;
    letter-spacing: 5px;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  .mainTitle{
    font-weight: 500;
    width: 50vw;
    background-color: rgba(166, 166, 166, 0.444);
    box-shadow: 0px 0px 30px 34px rgba(166, 166, 166, 0.444);
  }

  .curveBorder{
    border-radius: 3px;
    padding: 1%;
  }

  .inputWidth{
    width: 22vw;
  }
}