@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;500&display=swap');

/*  - - - - - - TABLET VIEW - - - - - -  */

/* FOR ALL PAGES */
.profileImages{
  width: 5vw;
}

.footerImages{
  position: fixed;
  bottom: 0;
  right: 0;
}

/* MAIN NAV BAR */
.navSection {
  display: flex;
  justify-content: space-evenly;
  font-size: 2vw;
  height: 4vh;
  background-color: rgba(166, 166, 166, 0.544);
}

.mainNav{
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  line-height: 4vh;
}

.mainNav:hover {
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/*  - - - - - - LARGE SCREEN VIEW - - - - - -  */
@media screen and (min-width: 736px) {
  /* - - use for all pages - - */
  .navSection {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5vw;
    height: 5vh;
    background-color: rgba(166, 166, 166, 0.544);
  }
  
  .mainNav{
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    line-height: 5vh;
  }

  .nav {
    font-size: 15px;
  }

}