
#bodyBackgroundCity {
  background: url(img/city4.jpeg);
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.main {
  max-height: 85vh;
  max-width: 85vw;
  margin: 10px auto;
}

.bodyFavoritesPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* Change this if needed to make room for the delete button */
  grid-template-rows: 150px 150px 150px;
}

.favoriteImages {
  border: rgb(255, 255, 255) solid 1px;
  height: 60%;
  width: 80%;
}

.photoCaption {
  margin: auto;
  font-weight: 600;
  /* font-size: 2.5vw; */
  padding: 5px;
  color: rgb(53, 53, 53);
  font-size: 10pt;
}

.background {
  background-color: rgba(198, 198, 198, 0.95);
  box-shadow: 0px 0px 7px 2px rgba(198, 198, 198, 0.95);
  text-align: center;
  margin: 3px;
}

button>a {
  text-decoration: none;
  color: black;
}
