@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
}

#background-image{
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

main{
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
h2{
  font-size: 3.5vw;
  letter-spacing: 4px;
  margin: 20px auto;  
  width: 60%;
  text-align: center;
}
.displayed-items{
  width: 200px;
  height: 200px;
  border: 2px solid orange;
  margin: 10px;
  margin: auto;
  position: relative;  
}

#search-bar{
  background-color: black;
  color: white;
  float: left;
  position: absolute;
  z-index: 1000;
  padding: 20px;
  font-weight: bold;
  margin: 0 auto;
  
}
.description{
  overflow: scroll;
  font-size: 12px;
  height: 30vh;
}
p::-webkit-scrollbar {
  display: none;
}
nav{
  display: flex;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
  color: rgb(164, 164, 164);
}



@media screen and (min-width: 736px) {
}

