<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Virtual Traveler</title>
  <link href="base.css" rel="stylesheet" type="text/css" />
  <link href="layout.css" rel="stylesheet" type="text/css" />
  <link href="modules.css" rel="stylesheet" type="text/css" />
  <link href="public/css/reset.css" rel="stylesheet" type="text/css">
</head>

<body>
  <main>
    <h1>Virtual Traveler</h1>
    <div>
      <form class="search-bar" action="/searches" method="get">
        <input type="text" name="search" placeholder="Type in your destination here" required>
        <button type="submit">Search</button>
      </form>
    </div>
  </main>
</body>

</html>