<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Virtual Traveler</title>
  <link href="css/reset.css" rel="stylesheet" type="text/css">
  <link href="css/base.css" rel="stylesheet" type="text/css" />
  <link href="css/search.css" rel="stylesheet" type="text/css" />
</head>

<body id="bodyBackgroundCity">
  <div class="virtualTravelerBox">
    <h1 class="whiteFontShadow virtualTraveler">Virtual Traveler</h1>
    <form class="inputSearch" action="/searches" method="get">

      <input class="curveBorder inputWidth" type="text" name="search" placeholder="Type in your destination here"
        required>
      <button class="submitButton curveBorder" type="submit">Search</button>
    </form>
  </div>
  <span class="footerImages">
    <a href="https://www.linkedin.com/in/andrew149/"><img class="profileImages" src="css/img/andrew.png" alt=""></a>
    <a href="https://www.linkedin.com/in/courtneycodes/"><img class="profileImages" src="css/img/courtney.png" alt=""></a>
    <a href="https://www.linkedin.com/in/dianestephani/"><img class="profileImages" src="css/img/diane.png" alt=""></a>
    <a href="https://www.linkedin.com/in/robert-carter-035baa165/"><img class="profileImages" src="css/img/robert.png" alt=""></a>
  </span>
</body>

</html>