<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Virtual Traveler</title>
  <link href="base.css" rel="stylesheet" type="text/css" />
  <link href="layout.css" rel="stylesheet" type="text/css" />
  <link href="modules.css" rel="stylesheet" type="text/css" />
  <link href="public/css/reset.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <nav class="nav">
      <a href="">Home</a>
      <a href="">Favorites</a>
      <a href="">Explore</a>
    </nav>
  </header>
  <main>
    <section>
      <img src="https://via.placeholder.com/150" alt="">
      <p>FULL NAME OF CITY RENDER HERE ... for each loop of info will need to be here</p>
    </section>
  </main>
  <span class="footerImages">
    <img class="profileImages" src="css/img/andrew.png" alt="">
    <img class="profileImages" src="css/img/courtney.png" alt="">
    <img class="profileImages" src="css/img/diane.png" alt="">
    <img class="profileImages" src="css/img/robert.png" alt="">
  </span>
</body>

</html>