<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Virtual Traveler</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <nav class="">
      <a href="">Home</a>
      <a href="">Favorites</a>
      <a href="">Explore</a>
    </nav>
  </header>
  <main>
    <section>
      <img src="https://via.placeholder.com/150" alt="">
      <p>FULL NAME OF CITY RENDER HERE ... for each loop of info will need to be here</p>
    </section>
  </main>
  <footer>
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
  </footer>
</body>

</html>